<div class="top-header">
    <div class="side-icon">
        <i class='bx bx-menu'></i>
    </div>
    <div class="side-icon2">
        <i class='bx bx-menu'></i>
    </div>
    <div class="admin-pic">
        <a href="#">
            <p><%=userdata.name%></p>
            <img src="../userimages/<%=userdata.userimage%>" alt="">
        </a>
    </div>
</div>