<div class="title">
    <h3>ShotterShodhane</h3>
    <div class="removebox">
        <i class="fas fa-close"></i>
    </div>
</div>
<!-- menu -->
<div class="main-menu">
    <ul>
        <li><a href="/accountinfo"><i class='bx bx-home'></i> Dashboard</a></li>
        <li><a href="/account/collections"><i class='bx bx-bar-chart-alt-2'></i> Collections</a></li>
        <li><a href="/account/expenses"><i class='bx bx-archive-out'></i> Expenses</a></li>
        <li><a href="/account/logout"><i class='bx bx-log-out'></i> Log Out</a></li>
    </ul>
</div>