<div class="top-header">
    <div class="side-icon">
     <i class='bx bx-menu' ></i>
    </div>
    <div class="side-icon2">
        <i class='bx bx-menu' ></i>
       </div>
    <div class="admin-pic">
     <a href="#">
         <p>Admin</p>
         <img src="../images/admin.png" alt="">
     </a>
    </div>
 </div>