<div class="title">
    <h3>ShotterShodhane</h3>
    <div class="removebox">
        <i class="fas fa-close"></i>
    </div>
</div>
<!-- menu -->
   <div class="main-menu">
     <ul>
        <li><a href="/admindashboard"><i class='bx bx-home' ></i> Dashboard</a></li>
        <li><a href="/admin/blog"><i class='bx bxl-blogger' ></i> Blog</a></li>
        <li><a href="/admin/gallery"><i class='bx bx-images'></i> Gallery</a></li>
        <li><a href="/admin/income"><i class='bx bx-bar-chart-alt-2'></i> Collections</a></li>
        <li><a href="/admin/expenses"><i class='bx bx-archive-out'></i> Expenses</a></li>
        <li><a href="/admin/users"><i class='bx bx-user-circle' ></i> Users</a></li>
        <li><a href="/admin/adduser"><i class='bx bx-user-plus'></i>Add User</a></li>
        <li><a href="/admin/information"><i class='bx bx-info-circle'></i> Information</a></li>
        <li><a href="/admin/logout"><i class='bx bx-log-out'></i> Log Out</a></li>
    </ul>
   </div>