<header>
    <div class="logo">
        <h1>ShotterShondhane</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>
    <div class="menu">
        <i class='bx bx-menu'></i>
    </div>
 </header>